<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>100 Days of Apex | Admin2Dev</title>
	<meta name="HandheldFriendly" content="True">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Alata:400%7CMuli:400,400i,700,700i&amp;display=swap&amp;subset=latin-ext" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../assets/css/screen_v=dedafe7ddd.css">

</head>


<body class="page-template page-style-guide global-hash-authors-link global-hash-full-image global-hash-tags-link">
	<div class="global-wrap">
		<div class="global-content">
			<header class="header-section">
				<div class="header-wrap">
					<div class="header-logo">
						<h1 class="is-logo"><a href="../index.html"><img src="../images/logo.svg" alt="Admin2Dev Logo"></a></h1>
					</div>
					<div class="header-nav">
						<nav>
							<ul>
								<li><a href="../index.html">Home</a></li>
								<li><a href="../apex100/index.html">Learn</a></li>
								<li><a href="../about.html">About</a></li>

							</ul>
						</nav>
					</div>
				</div>
			</header>
			<main class="global-main">
				<article class="post-section">
					<div class="post-header">
						<div class="post-title-wrap">
							<div class="post-title-content">
								<h1 class="post-title global-title">Learn Apex Programming</h1>
							</div>
						</div>
					</div>
					<div class="post-content">
						<h4 id="ghost-has-a-powerful-visual-editor-with-familiar-formatting-options-as-well-as-the-ability-to-seamlessly-add-dynamic-content-">Ghost has a powerful visual editor with familiar formatting options, as well as the ability to
							seamlessly add dynamic content.</h4>
						<p>Under the hood the editor delivers power and flexibility, with the ability to quickly add content such as <strong>images</strong>, <strong>galleries</strong>, <strong>videos</strong>, <strong>embeds</strong> and <strong>code</strong>!
						</p>
						<hr>
						<h2 id="using-the-editor">Using the editor</h2>
						<p><strong>Rich editing at your fingertips.</strong> Using the <strong>contextual toolbar</strong> allows you to efficiently format your text, add links and insert rich media.</p>
						<h4 id="using-the-dynamic-menu">Using the dynamic menu</h4>
						<p>You can insert a card either by clicking the <code>+</code> button on a new line, or typing <code>/</code> on a new line to search for a particular card. This allows you to insert<strong><strong> </strong></strong>images, markdown,
							html, galleries and embeds.</p>
						<h4 id="using-markdown">Using Markdown</h4>
						<p>The editor will automatically parse Markdown typed in directly. Alternatively, insert a Markdown card to access all of the same features of previous versions of the Ghost editor inside a single card.</p>
						<hr>
						<h2 id="headings">Headings</h2>
						<p>When creating a header, all you need to do is add a <code>#</code> before your header or use the contextual toolbar. You can keep adding up to six <code>#</code> in a row to make the headers smaller.</p>
						<h1 id="heading-1">Heading 1</h1>
						<h2 id="heading-2">Heading 2</h2>
						<h3 id="heading-3">Heading 3</h3>
						<h4 id="heading-4">Heading 4</h4>
						<h5 id="heading-5">Heading 5</h5>
						<h6 id="heading-6">Heading 6</h6>
						<!--kg-card-begin: html--><br>
						<!--kg-card-end: html-->
						<h2 id="links">Links</h2>
						<p>If you paste in a URL, like <a href="https://ghost.org">https://ghost.org</a> - it'll automatically be linked up. But if you want to customise your anchor text, you can do that too! Here's a link to <a href="https://ghost.org">the
								Ghost website.</a></p>
						<!--kg-card-begin: html--><br>
						<!--kg-card-end: html-->
						<h2 id="quoting">Quoting</h2>
						<p>If you want to add a quote, you just need to add a <code>&gt;</code> to the beginning of the line or use the contextual toolbar, and it will put it into the quote format.</p>
						<blockquote>Ghost is a fully open source, adaptable platform for building and running a modern online publication. <a href="https://ghost.org">We power blogs</a>, magazines and journalists from Zappos to Sky News.</blockquote>
						<p>  </p>
						<h2 id="bookmarks">Bookmarks</h2>
						<p>With the <strong>Bookmark card </strong>you can present links in a much richer format, similar to Twitter cards. If the URL points to a page with right meta information it can show the <strong>page title</strong>,
							<strong>excerpt</strong>, <strong>author</strong>, <strong>publisher </strong>and even a <strong>preview image</strong>.</p>
						<figure class="kg-card kg-bookmark-card"><a class="kg-bookmark-container" href="https://fueko.net">
								<div class="kg-bookmark-content">
									<div class="kg-bookmark-title">fueko</div>
									<div class="kg-bookmark-description">At fueko you can find the best premium Ghost themes that are easy-to-use, without compromising the design and code quality. Each theme can be easily modified to fit any blog, magazine or news
										site.</div>
									<div class="kg-bookmark-metadata"><img class="kg-bookmark-icon" src="https://fueko.net/favicon.png"><span class="kg-bookmark-publisher">fueko</span></div>
								</div>
								<div class="kg-bookmark-thumbnail"><img src="https://fueko.net/content/images/2019/10/cover.png"></div>
							</a></figure>
						<figure class="kg-card kg-bookmark-card"><a class="kg-bookmark-container" href="https://twitter.com/ghost">
								<div class="kg-bookmark-content">
									<div class="kg-bookmark-title">Ghost (@Ghost) | Twitter</div>
									<div class="kg-bookmark-description">Najnowsze tweety od Ghost (@Ghost). Fiercely independent publishing.⁣
										⁣
										Need help? For support, please visit:⁣
										https://t.co/doya2PtBYd. Everywhere</div>
									<div class="kg-bookmark-metadata"><img class="kg-bookmark-icon" src="https://abs.twimg.com/icons/apple-touch-icon-192x192.png"><span class="kg-bookmark-author">Ghost</span><span class="kg-bookmark-publisher">Twitter</span></div>
								</div>
								<div class="kg-bookmark-thumbnail"><img src="https://pbs.twimg.com/profile_banners/767545134/1570955858/1500x500"></div>
							</a></figure>
						<!--kg-card-begin: html--><br>
						<!--kg-card-end: html-->
						<h2 id="images">Images</h2>
						<p>You can upload images using the <strong>Image card</strong>. Once inserted you can blend images beautifully into your content at different sizes (<strong>normal</strong>, <strong>full</strong>, and <strong>wide</strong> ) and add
							captions wherever needed.</p>
						<figure class="kg-card kg-image-card kg-card-hascaption"><img
								src="https://images.unsplash.com/photo-1472108653939-927cd6aba6d6?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNzczfQ" class="kg-image">
							<figcaption>Photo by <a href="https://unsplash.com/@isai21?utm_source=ghost&amp;utm_medium=referral&amp;utm_campaign=api-credit">Isai Ramos</a> / <a
									href="https://unsplash.com/?utm_source=ghost&amp;utm_medium=referral&amp;utm_campaign=api-credit">Unsplash</a></figcaption>
						</figure>
						<figure class="kg-card kg-image-card kg-width-full kg-card-hascaption"><img
								src="https://images.unsplash.com/photo-1473861646675-0252edc45daa?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1920&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNzczfQ" class="kg-image">
							<figcaption>Photo by <a href="https://unsplash.com/@matthewhenry?utm_source=ghost&amp;utm_medium=referral&amp;utm_campaign=api-credit">Matthew Henry</a> / <a
									href="https://unsplash.com/?utm_source=ghost&amp;utm_medium=referral&amp;utm_campaign=api-credit">Unsplash</a></figcaption>
						</figure>
						<figure class="kg-card kg-image-card kg-width-wide kg-card-hascaption"><img
								src="https://images.unsplash.com/photo-1460200528334-4efd932f9027?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNzczfQ" class="kg-image">
							<figcaption>Photo by <a href="https://unsplash.com/@aamor?utm_source=ghost&amp;utm_medium=referral&amp;utm_campaign=api-credit">Albert Amor</a> / <a
									href="https://unsplash.com/?utm_source=ghost&amp;utm_medium=referral&amp;utm_campaign=api-credit">Unsplash</a></figcaption>
						</figure>
						<p></p>
						<!--kg-card-begin: html--><br>
						<!--kg-card-end: html-->
						<h2 id="gallery">Gallery</h2>
						<p>Ghost supports image galleries for up to <strong>9 images</strong> at a time, all of which are responsively optimised and organised to look their best no matter how many images you add or remove.</p>
						<figure class="kg-card kg-gallery-card kg-width-wide">
							<div class="kg-gallery-container">
								<div class="kg-gallery-row">
									<div class="kg-gallery-image"><img src="../content/images/2019/08/irene-kredenets-KStSiM1UvPw-unsplash.jpg" width="1080" height="1350"></div>
									<div class="kg-gallery-image"><img src="../content/images/2019/08/irene-kredenets-dwKiHoqqxk8-unsplash.jpg" width="1080" height="1351"></div>
									<div class="kg-gallery-image"><img src="../content/images/2019/08/irene-kredenets-DDqxX0-7vKE-unsplash.jpg" width="1080" height="1350"></div>
								</div>
								<div class="kg-gallery-row">
									<div class="kg-gallery-image"><img src="../content/images/2019/08/irene-kredenets-WWSCNfShT5M-unsplash.jpg" width="1080" height="1350"></div>
									<div class="kg-gallery-image"><img src="../content/images/2019/08/mohammad-metri-E-0ON3VGrBc-unsplash.jpg" width="1080" height="1080"></div>
								</div>
							</div>
						</figure>
						<!--kg-card-begin: html--><br>
						<!--kg-card-end: html-->
						<h2 id="highlighting">Highlighting</h2>
						<!--kg-card-begin: markdown-->
						<p><mark>Highlighting text</mark> on a web page can help bring important information immediately to the reader's attention. When creating a highlighting text, all you need to do is add a <code>==</code> before and after your text in
							<strong>Markdown card</strong>.</p>
						<!--kg-card-end: markdown-->
						<!--kg-card-begin: html--><br>
						<!--kg-card-end: html-->
						<h2 id="list-types">List Types</h2>
						<h4 id="unordered-list">Unordered list</h4>
						<!--kg-card-begin: markdown-->
						<ul>
							<li>Item number one</li>
							<li>Item number two
								<ul>
									<li>A nested item</li>
									<li>A nested item</li>
								</ul>
							</li>
							<li>A final item</li>
						</ul>
						<!--kg-card-end: markdown-->
						<h4 id="ordered-list">Ordered list</h4>
						<!--kg-card-begin: markdown-->
						<ol>
							<li>Item number one</li>
							<li>Item number two
								<ol>
									<li>A nested item</li>
									<li>A nested item</li>
								</ol>
							</li>
							<li>A final item</li>
						</ol>
						<!--kg-card-end: markdown-->
						<!--kg-card-begin: html--><br>
						<!--kg-card-end: html-->
						<h2 id="responsive-tables">Responsive Tables</h2>
						<p>A <strong>responsive table</strong> will display a horizontal scroll bar if the screen is too small to display the full content.</p>
						<!--kg-card-begin: markdown-->
						<div class="responsive-table">
							<table>
								<thead>
									<tr>
										<th style="text-align:left">#</th>
										<th style="text-align:left">Heading</th>
										<th style="text-align:left">Heading</th>
										<th style="text-align:left">Heading</th>
										<th style="text-align:left">Heading</th>
										<th style="text-align:left">Heading</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td style="text-align:left">1</td>
										<td style="text-align:left">Cell</td>
										<td style="text-align:left">Cell</td>
										<td style="text-align:left">Cell</td>
										<td style="text-align:left">Cell</td>
										<td style="text-align:left">Cell</td>
									</tr>
									<tr>
										<td style="text-align:left">2</td>
										<td style="text-align:left">Cell</td>
										<td style="text-align:left">Cell</td>
										<td style="text-align:left">Cell</td>
										<td style="text-align:left">Cell</td>
										<td style="text-align:left">Cell</td>
									</tr>
									<tr>
										<td style="text-align:left">3</td>
										<td style="text-align:left">Cell</td>
										<td style="text-align:left">Cell</td>
										<td style="text-align:left">Cell</td>
										<td style="text-align:left">Cell</td>
										<td style="text-align:left">Cell</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!--kg-card-end: markdown-->
						<!--kg-card-begin: html--><br>
						<!--kg-card-end: html-->
						<h2 id="video">Video</h2>
						<figure class="kg-card kg-embed-card"><iframe width="480" height="270" src="https://www.youtube.com/embed/lQZ0_eYTlJA?feature=oembed" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
								allowfullscreen></iframe></figure>
						<!--kg-card-begin: html--><br>
						<!--kg-card-end: html-->
						<h2 id="working-with-code">Working with Code</h2>
						<p>Code can be presented inline, like <code>&lt;code&gt;</code>. When creating a code text, all you need to do is add a <code>`</code> before and  after your text. In the editor <strong>```</strong> (three backticks) defines a code block.
						</p>
						<pre><code>.awesome-thing {
    display: block;
    width: 100%;
}</code></pre>
						<p></p>
					</div>
				</article>

			</main>
			<footer class="footer-section global-footer">
				<div class="footer-copyright">
					&copy; <a href="harshdeephura.com">Harshdeep Singh Hura</a>.<br />All Rights Reserved.
				</div>
			</footer>
		</div>
	</div>

	<script src="assets/js/global_v=dedafe7ddd.js"></script>
	<script src="assets/js/index_v=dedafe7ddd.js"></script>

</body>

</html>
